/********** FOOTER ***********/
footer {
    background-color: #737373;
    color: #FFF;
    padding: 0em;
}

footer h4 {
    color: #FFF;
    font-size: 0.8em;
    margin: 1em 0;
    padding: 0.2em 2em;
    text-align: center;
}

h5 {
    background-color: #ea8e4c;
    font-size: 0.8rem;
    padding: 1em;
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.footer-icon {
    padding: 0 2em;
    width: 2em;
}
